* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#logoProyecto {
    width: 241px;
    height: 97px;
}

#logoProyecto2 {
    width: 241px;
    height: 97px;
    margin-left: 60%;
}

#logoHistoria {
    width: 241px;
    height: 97px;
    margin-left: 80%;
}

#tituloMetas {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

#tituloProductos {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

#boxMetas {
    display: flex;
}

#listaMetas {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    padding-top: 30px;
    margin-left: 15px;
}

#boxMetas img {
    width: 397px;
    height: 194px;
}

#logoCarrito {
    width: 33px;
    height: 67px;
    margin-right: 0px;
}

#bannerContacto {
    height: 345px;
    background-image: url(../img/bannerContacto.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFF;
}

#bannerContacto h2 {
    color: #FFF;
    padding-left: 50px;
    padding-top: 200px;
    font-family: Capriola;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

#cafeSostenible {
    background-color: #D9C7B3;
}

#cafeSostenible h2 {
    color: #603312;
    font-family: Capriola;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#textoCafeSostenible {
    color: #603312;
    font-family: Capriola;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#formulario div p {
    border: 1px solid #FF6C15;
    border-radius: 4px;
    width: 830px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6C15;
    color: #FFF;
    font-family: Capriola;
    font-size: 20px;
    font-weight: 400;
}

#entradas input {
    display: flex;
    flex-direction: column;
    width: 830px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6C15;
    background: rgba(232, 217, 201, 0.20);
    margin-top: 20px;
    font-family: Capriola;
    font-size: 20px;
    font-weight: 400;
}

#entradas button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 330px;
    width: 166px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FF6C15;
    background: #FF6C15;
    font-family: Capriola;
    font-size: 20px;
    color: #FFF;
    font-weight: 400;
    margin-top: 30px;
}

#infoContacto {
    background-color: #D9C7B3;
    margin-top: 30px;
    padding-bottom: 30px;
}

.parrafosContacto {
    padding-left: 30px;
    padding-top: 30px;
    color: #603312;
    font-family: Capriola;
    font-size: 24px;
    font-weight: 400;
}

#tuOpinion {
    width: 921px;
    border-radius: 10px;
    background: #FF6C15;
    color: #FFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 250px;
    margin-top: 30px;
    font-family: Capriola;
    font-size: 18px;
    font-weight: 400;
}

#nuestraHistoria {
    background-color: #E8D9C9;
}

#imagenHistoria {
    width: 390px;
    height: 312px;
    padding-left: 30px;
    padding-top: 30px;
}

#imagenHistoria img {
    width: 390px;
    height: 312px;
}

#contenedorHistoria {
    display: flex;
}

#tituloHistoria {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

#nuestraHistoria h4 {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 60px;
}

#cafeIdeal {
    background-color: #FF6C15;
}

#cafeIdeal button {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #D9C7B3;
    border: 1px solid #D9C7B3;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 15px;
    margin-left: 40%;
    width: 226px;
    height: 45px;
    font-family: Capriola;
    font-size: 16px;
}

#cafeIdeal h4 {
    color: #fff;
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 400;
}

#prepararCafe {
    background-color: #707070;
    padding-bottom: 30px;
}

#prepararCafe h2 {
    color: #fff;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

#prepararCafe h4 {
    color: #fff;
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prepararCafe img {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1224px;
    height: 365px;
}

#colecciones {
    background-color: #FF6C15;
    color: white;
    display: flex;
}

#colecciones img {
    width: 60%;
}

#textoColecciones {
    color: #FFF;
    text-align: right;
    padding-left: 50px;
    padding-top: 15px;
    font-family: Capriola;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#textoColecciones p {
    padding-bottom: 3%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9C7B3;
    padding-left: 2%;
    padding-right: 7%;
}

header ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

header ul li a {
    display: block;
    padding: 1rem 1rem;
    font-family: Capriola;
    text-decoration: none;
    color: #707070;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul :hover {
    color: #603312;
}

#imagenInicio1 {
    background-color: #FF6C15;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 224px;
}

#bannerInicio {
    background-image: url(../img/imagenInicio1.jpg);
    background-repeat: no-repeat;
    width: 567px;
    height: 224px;
}

#imagenInicio2 {
    background-image: url(../img/imagenInicio2.jpg);
    width: 852px;
    height: 264px;
}

#inicio2 {
    background-color: #E8D9C9;
    display: flex;
}

#imagen2 {
    background-color: #E8D9C9;
}

#bannerNosotros {
    background-image: url(../img/bannerNosotros.jpg);
    background-repeat: no-repeat;
    display: flex;
    width: 1441px;
    height: 352px;
    background-size: 1441px 352px;
}

#textoNosotros {
    color: #FFF;
    font-family: Capriola;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 180px;
}

#bannerGranos {
    display: flex;
    background-color: #FF6C15;
    background-image: url(../img/granos.png);
    background-repeat: repeat-x;
    background-size: 1440px 167px;
    width: 1440px;
    height: 167px;
}

#textoGranos {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Capriola;
    font-size: 20px;
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#segundoBanner {
    margin-left: 28%;
}

.container-card {
    width: 120%;
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding-top: 5%;
}

.card {
    width: 20%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #603312;
    font-family: Capriola;
}

.card .contenido-card h4 {
    color: #603312;
    font-family: Capriola;
    font-size: 18px;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #242424;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #D9C7B3;
    border: 1px solid #D9C7B3;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #D9C7B3;
    color: #fff;
}

.tarjetas {
    display: flex;
    justify-content: center;
}

.card .contenido-card img {
    width: 43px;
    height: 48px;
}

.card figure img {
    height: 296px;
}

.titulos {
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

#tituloImagen2 {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

#tituloImagen1 {
    color: #fff;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 10%;
    width: 700px;
}

.textoImagen2 {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-left: 30px;
}

.botonImagen2 {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #D9C7B3;
    border: 1px solid #603312;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    font-family: Capriola;
    font-size: 16px;
    margin-left: 30%;
}

.botonInput {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #D9C7B3;
    border: 1px solid #603312;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    width: 226px;
    height: 45px;
    font-family: Capriola;
    font-size: 16px;
}

#mail {
    background-color: #603312;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
    width: 352px;
    height: 40px;
    text-align: center;
    font-family: Capriola;
    font-size: 16px;
}

::placeholder {
    color: #707070;
    margin-left: 5px;
}

#imagen2 h3 p {
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 30px;
}

.textos {
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 30px;
}

.textos2 {
    color: #FFF;
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 30px;
    text-decoration: none;
    list-style-type: none;
}

#contactanos-textos li {
    list-style: none;
}

#cajaReviews {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

#cajaReviews img {
    width: 144px;
    height: 41px;
    margin-left: 150px;
}

.reviews {
    width: 441px;
    height: 190px;
    background-color: #D9C7B3;
    display: flex;
    flex-direction: column;
}

.tituloReview {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 14px;
    padding-top: 15px;
}

.textoReview {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #603312;
    font-family: 'Capriola', sans-serif;
    font-size: 14px;
}

#mision {
    background-color: #603312;
    color: white;
    padding-bottom: 30px;
}

.favoritos {
    color: #603312;
}

#reviews {
    background-color: #FF6C15;
    color: white;
}

footer {
    background-color: #603312;
    color: white;
}

footer h2 {
    color: #E8D9C9;
}

footer #contactanos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer #contactanos-textos {
    display: flex;
    flex-direction: column;
}

#botonesRedes {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#botonesRedes svg {
    width: 48px;
    height: 48px;
}